 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                   
                  <li class="active"><a href="#">PhilBrasil</a></li>
                  <li><a href="#">Atualizações</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Colabore</a></li>
                  <li><a href="#">Sobre</a></li>
                    
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading" style="font-family: 'Playfair Display', serif; 
            font-size: 60px;">PhilBrasil</h1>
            <p class="lead"></p>
            <p class="lead">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            </p>
            <p class="lead"><a style="font-family: 'Playfair Display', serif; 
            font-size: 12x; color:#d47500;" href="#">Busca Avançada</a></p>
          </div>

          <p class="lead"><a style="font-family: 'Playfair Display', serif; 
            font-size: 12x; color:#5c97bf;" href="#">Cadastre uma Referência</a></p>

          <div class="mastfoot">
            <div class="inner">
            "The quick brown fox jumps over the lazy dog"
            </div>
          </div>

        </div>

      </div>

    </div>
